{{#foreach posts}}
	{{#if primary_tag}}
		{{#primary_tag}}
			<b>{{name}}</b>
		{{/primary_tag}}
	{{/if}}
	<a href="{{url}}"><b>{{title}}</b></a><br>
	<i>{{url}}</i><br>
	<i><span class="ellipsis">{{excerpt}}</span></i><br>
	by {{#foreach authors}}
		<a href="{{url}}">{{name}}</a>&nbsp;
	{{/foreach}}
	<br>
	<hr>
{{/foreach}}