{{!< default}}
{{#author}}
	<table>
		<tbody>
			{{#if profile_image}}
				<td>
					<img class="rounded" src="{{profile_image}}" alt="{{name}}" />
				</td>
			{{/if}}
			<td>
				<h1>{{name}}</h1>
				<p>
					{{#if bio}}
						{{bio}}
					{{else}}
						{{plural ../pagination.total empty='No posts' singular='% post' plural='% posts'}} published
					{{/if}}
				</p>
				{{#if location}}
					<div>📍 {{location}}</div>
				{{/if}}
				{{#if website}}
					<a href="{{website}}" target="_blank" rel="noopener">{{website}}</a>
				{{/if}}
				{{#if twitter}}
					<a href="{{twitter_url}}" target="_blank" rel="noopener">{{twitter_url}}</a>
				{{/if}}
				{{#if facebook}}
					<a href="{{facebook_url}}" target="_blank" rel="noopener">{{facebook_url}}</a>
				{{/if}}
			</td>
		</tbody>
	</table>


{{/author}}