<!DOCTYPE html>
<html lang="en">

<head>
	<title>{{meta_title}}</title>
	<meta name="description" content="{{meta_description}}" />
	{{ghost_head}}
	<link rel="stylesheet" href="/style.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Security-Policy" content="default-src 'self' https://cdnjs.cloudflare.com;">
</head>

<body class="{{body_class}}">

	<div class="header">
		<a href="/">
			<h3>{{@blog.title}}</h3>
		</a>
		<span class="subheading">{{@blog.description}}</span>
		<a href="rss" title="RSS Feed for this page (might not exist)">rss</a>
		<span>{{navigation}}</span>
		{{#if @site.twitter}}
			&nbsp;- <a href="{{twitter_url @site.twitter}}" title="twitter" target="_blank" rel="noopener">twitter</a>
		{{/if}}
	</div>

	<hr>

	<div>
		{{{body}}}
	</div>

	<footer>
		{{ghost_foot}}
	</footer>

</body>

</html>