{{!< default}}
<article class="{{post_class}}">

	{{#post}}
		<section class="post-content">
			<h1 class="post-title">{{{title}}}</h1>
			<p>{{content}}</p>
		</section>

		<footer class="post-footer">

			<section class="author">
				<i>Written by {{authors}}</i>
			</section>

		</footer>

	{{/post}}
</article>