.ellipsis {
	white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
	display: inline-block;
	max-width: 100%;
}
body {
	padding: 5%;
	padding-top: 2%;
}

img.rounded {
	border-radius: 10px;
}

footer {
	color: lightslategray;
	position: absolute;
	bottom: 0;
	padding-bottom: 1%;
	background-color: white;
	left: 0;
	right: 0;
	text-align: center;
	font-size: small;
}

address {
	display: inline;
}

ul.nav {
	display: flex;
	list-style-type: none;
}